<h2> Edit Video</h2>
<div class="col col-md-8 col-sm-12" style="margin-bottom: 10px">
  <%= render partial: "videos/player",locals: {video: @video} %>
  <div style="margin-left: 5px;">
    <input id="ex2" type="text" class="span2"  style="width: 100%"/>
  </div>
  <div class="clear clear-fix"></div>
</div>
<div class="col col-md-4 col-sm-12 edit-form-video">
  <div class="bg-danger" style="margin-bottom: 10px">
    <%= @video.errors.full_messages.first if @video.errors.any? %>
  </div>
  <%= form_for @video,html: {class: "form"},:url => { :action => "update" } do |f| %>
    <div class="col col-md-12">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Video Information
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <div class="form-group">
                <%= f.label  :name %>
                <%= f.text_field  :name,class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label  :description %>
                <%= f.text_area   :description,placeholder: "Description",class: "form-control",rows: "5" %>
              </div>
              <div class="form-group">
                <%= f.label :category %>
                <%= f.select :category_id,Category.all.map{|m| [m.name,m.id]},{},class: "form-control" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-md-12">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                Stages
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              <div class="form-group">
                <div>
                  <a href="javascript:addStage()"> Add </a>
                </div>

                <div id="stages_field">
                  <%= f.fields_for  :stages do |ff| %>
                    <div class="stage-field">
                      <%= ff.hidden_field :id %>
                      <div>
                        <%= ff.text_field :name,placeholder: "Name",class: "form-control" %>
                      </div>
                      <div class="time-holder start" style="margin-right: 2%">
                        <div class="input-group">
                          <%= ff.text_field :start_at,placeholder: "start at",class: "form-control" %>
                          <span class="input-group-btn">
                              <button class="btn btn-default get-time-btn" type="button" onclick="getTime(this,'start')"><i class="fa fa-play"></i></button>
                          </span>
                        </div>
                      </div
                      ><div class="time-holder end">
                        <div class="input-group">
                          <%= ff.text_field :end_at,placeholder: "end at",class: "form-control" %>
                          <span class="input-group-btn">
                              <button class="btn btn-default get-time-btn" type="button" onclick="getTime(this,'end')"><i class="fa fa-play"></i></button>
                            </span>
                        </div>
                      </div>
                      <div class="form-group">
                        <%= ff.label :_destroy,"Remove" %>
                        <%= ff.check_box :_destroy %>
                      </div>
                      <div> <a class="btn btn-default btn-block" onclick="getSlider(this)"> Get Slider</a></div>
                    </div>
                    <div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group" style="padding: 0px 15px">
      <%= f.submit "Submit",class: "btn btn-default btn-block" %>
    </div>
  <% end %>
  <div class="clearfix"></div>
</div>


<script>
  $(document).ready(function() {
    var timer = window.setInterval(function(t){
      var mplayer = videojs("vid1");
      var max = mplayer.duration();
      if (max > 0) {
        $("#ex2").slider({
          min: 0,
          max: max,
          range: true,
          value: [0,30],
          step: 1,
          focus: true
        });
        clearInterval(timer);
      }
    },500);
  })
  var getTime = function(e,tp) {
    $(e).parents('.stage-field').find(".time-holder." + tp + " input").val(videojs('vid1').currentTime())
  }
  var getSlider = function(e) {
    window.test = e;
    var range = $("#ex2").data('slider').getValue();
    $(e).parents('.stage-field').find(".time-holder.start" + " input").val(range[0])
    $(e).parents('.stage-field').find(".time-holder.end" + " input").val(range[1])
  };
  function addStage() {
    $("#stages_field").append("<%=j render partial: 'stage_attribute'%>");
    $($(".stage-field")[$(".stage-field").length-1]).attr("id","stage-num-" + ($(".stage-field").length -1).toString());
  }
</script>

