<!--carousel-->
<div class="container-fluid carousel hidden-xs hidden-sm">
  <div class="row">
    <div class="col-md-12">
      <div class="carousel slide" id="myCarousel">
        <div class="carousel-inner">
          <% @videos.each_with_index do |video,index| %>
            <div class="item <%= index == 0 ? 'active' : '' %>">
              <div class="col-md-4"><a href="<%= video_path(video)%>"><img src="<%= video.thumbnail %>" class="img-responsive"></a></div>
            </div>
          <% end %>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
      </div>
    </div>
  </div>
</div>

<div class="container">
	<div class="vid-index-holder row">
		<div class="vid-index-main-content col-sm-9">
      <div class="row">
        <div class="col-sm-12">
          <h3>Most viewed</h3>
        </div>
        <% @most_viewed_videos.each do |vid| %>
          <%= render partial: "vid_thumb",locals: {vid: vid} %>
        <% end%>
      </div>
     <h5 class="text-right"> <a href="<%= recent_videos_path %>"> Show more </a></h5>
      <div class="row" style="margin-top: 40px">
        <div class="col-sm-12">
          <h3>Best rated</h3>
        </div>
        <% @most_liked_videos.each do |vid| %>
            <%= render partial: "vid_thumb",locals: {vid: vid} %>
        <% end%>
      </div>
      <h5 class="text-right"> <a href="<%= hot_videos_path %>"> Show more </a></h5>
		</div>
		<div class="col-sm-3 sidebar">
			<ul>
				<li><a href="<%= videos_path %>"><span class="glyphicon glyphicon-facetime-video"></span> Lessons</a></li>
				<li><a href="<%= courses_path %>"><span class="glyphicon glyphicon-list"></span> Courses</a></li>
				<li><a href="#"><span class="glyphicon glyphicon-star"></span> Styles</a></li>
				<ul>
          <% Category.all.each do |cat| %>
            <li><a href="<%= category_path(cat)%>"><%= cat.name.capitalize %></a></li>
          <% end %>
				</ul>
			</ul>
		</div>
	</div>
</div>


<script>
  $('#myCarousel').carousel({
  interval: 10000
})

$('.carousel .item').each(function(){
  var next = $(this).next();
  if (!next.length) {
  next = $(this).siblings(':first');
  }
  next.children(':first-child').clone().appendTo($(this));

  if (next.next().length>0) {
  next.next().children(':first-child').clone().appendTo($(this));
  }
  else {
  $(this).siblings(':first').children(':first-child').clone().appendTo($(this));
  }
});
</script>
