<!---
<script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
<link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">
-->
<div class="mid-form-holder cl-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
  <h2> Add new Video </h2>
  <%= form_for @video,html: {class: "form"} do |f| %>
    <div class="row">
      <div class="col col-md-6">
        <div class="form-group">
          <%= f.text_field  :name,placeholder: "Name",class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.text_area   :description,placeholder: "Description",class: "form-control",rows: "5" %>
        </div>
      </div>
      <div class="col col-md-6">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingOne">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" onclick="setupload('youtube')">
									<i class="fa fa-youtube" style=""></i> Upload from Youtube
								</a>
							</h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="form-group">
									<div class="dz-default dz-message"><span>Upload from Youtube</span></div>
									<%= f.text_field  :youtube_remote_url,class: "form-control",placeholder: "E.g: https://www.youtube.com/watch?v=SzJetR0cLHU"%>
								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingTwo">
							<h4 class="panel-title">
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" onclick="setupload('local')" >
									<i class="fa fa-upload" style=""></i> 	Upload from My Computer
								</a>
							</h4>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
							<div class="panel-body">
								<div class="form-group">
									<div class="dz-default dz-message"><span>Drop files here to upload</span></div>
									<%= f.file_field  :local_remote_url%>
								</div>
							</div>
						</div>
					</div>
				</div>
      </div>
    </div>
    <div class="form-group">
      <%= f.submit "Submit",class: "btn btn-default" %>
    </div>
  <% end %>
</div>

<!--
    <a href="javascript:addStage()"> Add </a>
    <div id="stages_field"></div>
--!>

<script>
  function addStage() {
    $("#stages_field").append("<%=j render partial: 'stage_attribute'%>");
    $($(".stage-field")[$(".stage-field").length-1]).attr("id","stage-num-" + ($(".stage-field").length -1).toString());
  }
	function setupload(type) {
		if(type='youtube') {
			$("#video_local_remote_url").val("");
		}
		if(type='local') {
			$("#video_youtube_remote_url").val("");
		}
	}
</script>
