<div class="pull-left">
  <%= render partial: "player",locals: {video: @video} %>

  <div class="video-controller">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Stages
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <% @video.stages.each do |stage| %>
              <div class="btn btn-default" data-toggle="button" aria-pressed="false" onclick="checkloopBetween(<%= stage.start_at%>,<%= stage.end_at%>)"><%= stage.name %></div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row video-actions-holder">

    <div class="col-sm-12 col-md-8">
      <div class="video-info pull-left">
        <h2 style="display: inline-block;margin: 0px"> <%= @video.name %> </h2>
        <span> by </span>
        <%= link_to @video.owner.username, user_path(@video.owner) %>
      </div>
      <div class="inapp-action pull-left">
        <% if !current_user.voted_for? @video %>
          <a href=" <%=likes_path(video_id: @video.id) %>" data-method="post" data-remote="true" >
            <i class="glyphicon glyphicon-heart"></i>
          </a>
        <% else %>
          <a href="javascript:;">
            <i class="glyphicon glyphicon-heart"></i>
          </a>
        <% end %>
        <%= @video.like_count %>
        <a href="#"> <i class="glyphicon glyphicon-eye-open"></i> </a>
        <%= @video.view_count %>
      </div>
    </div>

    <div class="social-actions col-sm-12 col-md-4 text-right">
      <a href="#"> <i class="fa fa-facebook-official"></i> </a>
      <a href="#"> <i class="fa fa-twitter-square"></i> </a>
    </div>
  </div>
  <p style="padding-left: 5px;">
    <%= @video.description %>
  </p>

  <hr/>
  <div class="comment-holder">
    <h2> Comments </h2>
    <%= form_tag comments_path,method: :post, remote: true do %>
      <%= hidden_field_tag :video_id,@video.id %>
      <div class="form-group col-md-8">
        <%= text_area_tag :comment,"",class: "form-control",rows: "2" %>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-default">Comment</button>
      </div>
      <div class="clearfix"></div>
    <% end %>
    <div id="comment_holder">
      <ul style="list-style: none">
        <% @video.comments.each do |com| %>
          <%= render partial: "shared/comment",locals: {com: com} %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="pull-right sidebar-video-holder" style="width: 310px">
  <h3> Related Videos </h3>
  <ul class="sidebar-video-list">
    <% 5.times do |i| %>
    <li>
      <div class="col-md-6">
        <img src="/assets/video-thumbnail.png" class="img-responsive">
      </div>
      <div class="col-md-6" style="padding: 0px;">
        <h4 style="margin-bottom: 0px;"> Video name </h4>
        <a href="#"> Author </a>
        <div> 10000 views</div>
      </div>
      <div class="clearfix"></div>
    </li>
    <% end %>
  </ul>
</div>
<div class="clearfix"></div>

<script>
  mplayer =videojs("vid1",{
    controls: true,
    inactivityTimeout: 0,
    controlBar: {
      muteToggle: false,
    },
    playbackRates: [0.5, 1, 1.5, 2]

  },function() {


  });
  mplayer.markers({
    onMarkerReached: function(marker){
    },
    markerStyle: {
      'width':'10px',
      'background-color': 'red'
    },
    markerTip:{
      display: true,
      text: function(marker) {
        return "This is a break: " + marker.text;
      }
    },
    breakOverlay:{
      display: true,
      text: function(marker) {
        return marker.text;
      }
    },
    markers: [
    <% @video.stages.each do |stage| %>
      {time: <%=stage.start_at%>,text: "<%=stage.name %>"},
      {time: <%=stage.end_at%>,text: "<%=stage.name %> ends"},
    <% end %>
    ]
  });
  videojs("vid1").ready(function(){
    this.cuepoints();
    $(".vjs-load-progress").on('click',function() {
      removeLoop();
    })
    $(".vjs-playback-rate").removeClass("vjs-hidden");
    $(".vjs-progress-holder").mousedown(function() {
      time = mplayer.currentTime();
      console.log(time);
      if(mplayer.start_loop >= 0 && mplayer.stop_loop >= 0) {
        if(time < mplayer.start_loop || time > mplayer.stop_loop) {
          removeLoop();
        }
      }
    })
  });
  function setloopBetween(start,end) {
    removeLoop();
    mplayer.start_loop = start;
    mplayer.stop_loop = end;
    mplayer.addCuepoint({
        namespace: "logger",
        start: start,
        end: end,
        onStart: function(params){
            if(params.error){
                console.error("Error at second 0");
            }else{
                console.log("Log at second 0");
            }
        },
        onEnd: function(params){
          mplayer.currentTime(start);
          mplayer.play();
        },
        params: {error: false}
    });
    mplayer.currentTime(start);
    mplayer.segment_looping=true;
    mplayer.play();
  }
  function removeLoop() {
    mplayer.destroyCuepoints();
    mplayer.cuepoints();
    mplayer.start_loop = -1;
    mplayer.stop_loop = -1;
    mplayer.segment_looping = false;
    console.log("loop removed");
  }
  function checkloopBetween(start,end) {
    if(mplayer.segment_looping)
      removeLoop();
    else
      setloopBetween(start,end);
  }
</script>


