<%= content_for(:fb_head) do %>
  <meta property="og:title" content="Dancing video <%= @video.name %>"  />
  <meta property="og:image" content="<%= @video.thumbnail%>" />
  <meta property="og:url" content="<%= APP_CONFIG["location"] + video_path(@video) %>" />
  <meta property="og:description" content=" <%= @video.description %> " />
<% end %>
<div class="col col-md-9 col-sm-12">
  <%= render partial: "player",locals: {video: @video} %>

  <div class="video-controller">
		<div class="controllers" style="margin-bottom: 10px;">
			<div class="btn btn-info" data-toggle="button" aria-pressed="fasle" onclick="rotateVideo()"> Mirror Play </div>
			<div class="btn btn-danger loop-btn " data-toggle="button" aria-pressed="fasle" onclick="checkCurrentLoop()" >
        <span id="current-stage" style="color: white">Loop</span>
        <i class="fa fa-circle-o-notch"></i>
      </div>
      <% if current_user && current_user.id == @video.owner.id %>
        <div class="pull-right">
          <a href="<%= edit_video_path @video %>" class="btn btn-primary">
            <i class="fa fa-edit"></i> Edit </a>
        </div>
      <% end %>
		</div>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Stages
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <script> var all_loops = [];</script>
            <% @video.stages.each do |stage| %>
							<div class="btn btn-default btn-stage" data-toggle="button" aria-pressed="false"
                   onclick='checkloopBetween(this,<%= stage.start_at%>,<%= stage.end_at%>,"<%= stage.name %>")'><%= stage.name %></div>
              <script>
                all_loops.push([<%=stage.start_at%>,<%=stage.end_at %>,"<%=stage.name%>"]);
              </script>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row video-actions-holder">

    <div class="col-sm-12 col-md-8">
      <div class="video-info pull-left">
        <h2 style="display: inline-block;margin: 0px"> <%= @video.name %> </h2>
        <span> by </span>
        <%= link_to @video.owner.username, videos_user_path(@video.owner) %>
      </div>
      <div class="inapp-action pull-left">
        <% if current_user && !current_user.voted_for?(@video) %>
          <a href=" <%=likes_path(video_id: @video.id) %>" data-method="post" data-remote="true" class="like-btn nodecor">
            <i class="glyphicon glyphicon-heart"></i>
          </a>
        <% else %>
          <a href="javascript:;" class="nodecor">
            <i class="glyphicon glyphicon-heart"></i>
          </a>
        <% end %>
				<span id="vid-like-count"><%= @video.like_count %></span>
				<a href="javascript:;" class="view-btn nodecor noselect"><i class="glyphicon glyphicon-eye-open"></i></a>
				<span id="vid-view-count"><%= @video.view_count %></span>
      </div>
    </div>

    <div class="social-actions col-sm-12 col-md-4 text-right">
      <%= social_share_button_tag("Dancit",:url => APP_CONFIG["location"] + video_path(@video),:popup => true) %>
    </div>
  </div>
  <p style="padding-left: 5px;">
    <%= @video.description %>
  </p>

  <hr/>
  <div class="comment-holder">
    <h2> Comments </h2>
    <% if current_user %>
      <%= form_tag comments_path,method: :post, remote: true do %>
        <%= hidden_field_tag :video_id,@video.id %>
        <div class="form-group col-md-8">
          <%= text_area_tag :comment,"",class: "form-control",rows: "2" %>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default btn-stage">Comment</button>
        </div>
        <div class="clearfix"></div>
      <% end %>
    <% end %>
    <div id="comment_holder">
      <ul style="list-style: none">
        <% @comment.each do |com| %>
          <%= render partial: "shared/comment",locals: {com: com} %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="col col-md-3 col-sm-12 sidebar-video-holder" >
  <h3> Related Videos </h3>
  <ul class="sidebar-video-list">
    <% @related_videos.each do |vid| %>
    <li class="related-item">
      <a href="<%= video_path vid %>">
        <div class="col-md-6">
          <img src="<%= vid.thumbnail %>" class="img-responsive">
        </div>
        <div class="col-md-6" style="padding: 0px;">
          <h4 style="margin-bottom: 0px;color: black"> <%= vid.name %> </h4>
          <div> <%= vid.owner.username %> </div>
          <div> <span><i class="fa fa-eye"></i></span> <%= vid.view_count %> views</div>
        </div>
        <div class="clearfix"></div>
      </a>
    </li>
    <% end %>
  </ul>
</div>
<div class="clearfix"></div>

<script>
  mplayer =videojs("vid1",{
    controls: true,
    inactivityTimeout: 0,
    controlBar: {
      muteToggle: false,
    },
    playbackRates: [0.5, 1, 1.5, 2]

  },function() {


  });
	<% if !@video.stages.empty? %>
		mplayer.markers({
			onMarkerReached: function(marker){
			},
			markerStyle: {
				'width':'10px',
				'background-color': 'red'
			},
			markerTip:{
				display: true,
				text: function(marker) {
					return "This is a break: " + marker.text;
				}
			},
			breakOverlay:{
				display: true,
				text: function(marker) {
					return marker.text;
				}
			},
			markers: [
			<% @video.stages.each do |stage| %>
				{time: <%=stage.start_at%>,text: "<%=stage.name %>"},
				{time: <%=stage.end_at%>,text: "<%=stage.name %> ends"},
			<% end %>
			]
		});
	<% end %>
  videojs("vid1").ready(function(){
    this.cuepoints();
    $(".vjs-load-progress").on('click',function() {
      removeLoop();
    })
    $(".vjs-playback-rate").removeClass("vjs-hidden");
    $(".vjs-progress-holder").mousedown(function() {
      if(mplayer.start_loop >= 0 && mplayer.stop_loop >= 0) {
          removeLoop();
          $(".loop-btn").removeClass('active');
          $(".btn-stage").removeClass('active');
          $(".loop-btn i.fa").removeClass("fa-spin");
      }
		});
  });
  function setloopBetween(start,end) {
    removeLoop();
    mplayer.start_loop = start;
    mplayer.stop_loop = end;
    mplayer.addCuepoint({
        namespace: "logger",
        start: mplayer.start_loop,
        end: mplayer.stop_loop,
        onStart: function(params){
            if(params.error){
                console.error("Error at second 0");
            }else{
            }
        },
        onEnd: function(params){
          mplayer.currentTime(start);
          mplayer.play();
        },
        params: {error: false}
    });
    console.log('loop between: ' + start + ":" + end);
    mplayer.currentTime(start);
    mplayer.segment_looping=true;
    mplayer.play();
  }
  function removeLoop() {
    mplayer.destroyCuepoints();
    mplayer.cuepoints();
    mplayer.start_loop = -1;
    mplayer.stop_loop = -1;
    mplayer.segment_looping = false;
    $("#current-stage").html("Loop");
    console.log("loop removed");
  }
  function checkloopBetween(e,start,end,name) {
    if ($(e).hasClass('active')) {
      console.log(456);
      if(mplayer.segment_looping) {
        $(".loop-btn").removeClass("active");
        $(".loop-btn i.fa").removeClass("fa-spin");
        $("#current-stage").html("Loop");
        removeLoop();
      }
    } else {
      console.log('123');
      setloopBetween(start,end);
      $(".loop-btn").addClass("active");
      $(".loop-btn i.fa").addClass("fa-spin");
      $(".btn-stage.active").removeClass("active");
      $("#current-stage").html(name);
    }
  }
	function rotateVideo() {
		if(mplayer.rotating) {
			mplayer.rotating = false;
			<% if @video.from_youtube? %>
				$("iframe#vid1_youtube_api").removeClass("mirrorvid");
			<% elsif @video.from_local? %>
				$("video#vid1_html5_api").removeClass("mirrorvid");
			<% end %>
		}
		else {
			mplayer.rotating = true;
			<% if @video.from_youtube? %>
				$("iframe#vid1_youtube_api").addClass("mirrorvid");
			<% elsif @video.from_local? %>
				$("video#vid1_html5_api").addClass("mirrorvid");
			<% end %>
		}
	}
  var checkCurrentLoop = function() {
    if($(".loop-btn").hasClass('active')) {
      removeLoop();
      $(".btn-stage").removeClass('active');
      $(".loop-btn i.fa").removeClass("fa-spin");
    } else {
      var current = mplayer.currentTime();
      $.each(all_loops,function(i,e) {
        if( e[0] <= current  && e[1] >= current) {
          setloopBetween(e[0],e[1]);
          $("#current-stage").html(e[2]);
          $(".btn-stage:contains('" + e[2]+ "')").addClass('active');
          $(".loop-btn i.fa").addClass("fa-spin");
          return false;
        }
        return true;
      });
    }
  }
</script>


