<!DOCTYPE html>
<html>
<head>
  <title>Dancit</title>
  <script src="https://vjs.zencdn.net/4.12/video.js"></script>
  <link href="https://vjs.zencdn.net/4.12/video-js.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: "layouts/header" %>
  <div class="content container">
    <%= yield %>
  </div>
  <%= render partial: "layouts/footer" %>

</body>
</html>
